# Core functionality - changes here should be rare!
/src/app.py                   @NanaMaryamMunagah
/src/backend/database.py      @NanaMaryamMunagah
/src/backend/routers/auth.py  @NanaMaryamMunagah

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NanaMaryamMunagah
